@page "/products"
@using Burile.Financial.UI.Client.Components

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<MudDataGrid T="Product" Class="table" ServerData="GetData" @ref="_dataGrid"
             Hideable="false" ShowColumnOptions="true" ShowFilterIcons="true" ShowMenuIcon="true"
             Outlined="false" ColumnResizeMode="ResizeMode.Container"
             Dense="false" Striped="true" Bordered="true" Hover="false" ReadOnly="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Products</MudText>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="static product => product.ApiId" StickyLeft="true" Filterable="true" Sortable="true" ShowFilterIcon="true"/>
        <PropertyColumn Property="static product => product.Symbol" Filterable="true" Sortable="true" ShowFilterIcon="true"/>
        <PropertyColumn Property="static product => product.Name" Filterable="true" Sortable="true" ShowFilterIcon="true"/>
        <PropertyColumn Property="static product => product.Currency" Filterable="true" Sortable="true" ShowFilterIcon="true"/>
        <PropertyColumn Property="static product => product.Exchange" Filterable="true" Sortable="true" ShowFilterIcon="true"/>
        <PropertyColumn Property="static product => product.Country" Filterable="true" Sortable="true" ShowFilterIcon="true"/>
        <PropertyColumn Property="static product => product.MicCode" Filterable="true" Sortable="true" ShowFilterIcon="true"/>
        <TemplateColumn StickyRight="true" T="Product" Sortable="false" Filterable="false" ShowFilterIcon="false">
            <CellTemplate>
                <MudIconButtonWithParameter Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" ApiId="@context.Item.ApiId" OnAction="Edit"/>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Product" PageSizeOptions="new[] { 10, 20, 50, 100 }"/>
    </PagerContent>
</MudDataGrid>