@page "/products"
@using Burile.Financial.UI.Client.Components
@rendermode InteractiveWebAssembly

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<MudDataGrid T="Product" Class="table" ServerData="GetData" @ref="_dataGrid"
             Hideable="false"
             Dense="false" Striped="false" Bordered="false" Hover="false">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Products</MudText>
    </ToolBarContent>
    <Columns>
        <SelectColumn T="Product" Size="Size.Small"></SelectColumn>
        <PropertyColumn Property="static product => product.ApiId" StickyLeft="true"/>
        <PropertyColumn Property="static product => product.Symbol"/>
        <PropertyColumn Property="static product => product.Name"/>
        <PropertyColumn Property="static product => product.Currency"/>
        <PropertyColumn Property="static product => product.Exchange"/>
        <PropertyColumn Property="static product => product.Country"/>
        <PropertyColumn Property="static product => product.MicCode"/>
        <TemplateColumn StickyRight="true" T="Product">
            <CellTemplate>
                <MudIconButtonWithParameter ApiId="@context.Item.ApiId" OnAction="EditProduct"/>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Product" PageSizeOptions="new[] { 10, 20, 50, 100 }"/>
    </PagerContent>
</MudDataGrid>